{% extends 'core/base.html' %}
{% block title %}Carrinho de Compras {% endblock %}
{% block content %}

<div class="max-w-7xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">

    <div class="products w-full lg:w-3/4">
        {% for item in cart %}

        {% include 'cart/partials/cart_item.html'%}

        {% endfor %}
    </div>
        

    <div class="summary w-full lg:w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h2 class="uppercase text-lg mb-5">Resumo</h2>
        <div class="flex justify-between mb-5">
            <span class="font-semibold text-gray-600">Subtotal</span>
            <span class="text-gray-600">R$ {{ cart.get_total_price }}</span>
        </div>
        <div class="flex flex-wrap items-center">
        <a href="{% url 'checkout' %}" class="w-full bg-gray-600 hover:bg-emerald-800 text-white uppercase py-3 px-5 rounded-full text-center">Finalizar pedido</a>
        </div>
    </div>

</div>
    

{% endblock %}