{%extends 'core/base.html'%} {%block title%}Carrinho de Compras {%endblock%}
{%block content%}

{% if cart.get_total_quantity > 0 %}
<div class="max-w-7xl mx-auto flexflex-wrap items-start py-6 px-6 xl:px-0">

    <div class="w-full lg:w-3/4 p-6 bg-gray-100 rounded-xl">
        <div class="grid justify-between grid-cols-5 gap-4">
            <div class="text-center">
                <p class="font-semibold"></p>
            </div>
            <div class="text-center">
                <p class="font-semibold">Nome</p>
            </div>
            <div class="text-center">
                <p class="font-semibold">Descrição</p>
            </div>
            <div class="text-center">
                <p class="font-semibold">Preço Unitário</p>
            </div>
            <div class="text-center">
                <p class="font-semibold">Preço Total</p>
            </div>
        </div>
        <div class="products w-full mt-3 lg:w-3/4">
            {% for item in cart %} {% include 'cart/partials/cart_item.html'%}
            {%endfor%}
        </div>
    </div>
    <div class="summary w-full lg:w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
        <h2 class="uppercase text-lg font-semibold mb-3 text-center">Resumo</h2>
        <div class="flex justify-between mb-5">
            <span class="font-semibold text-gray-600">Subtotal</span>
            {% include 'cart/partials/cart_total.html'%}
        </div>
        <div class="flex flex-wrap items-center justify-center">
            <a
        {% if cart.get_total_quantity > 0 %}
            href="{% url 'checkout' %}"
        {% else %}
            href="{% url 'shop' %}"
        {% endif %}
                class="w-48 bg-gray-600 hover:bg-emerald-800 text-white uppercase py-3 px-5 rounded-full text-center"
                >Finalizar pedido</a
            >
        </div>
    </div>
</div>
{% else %}

<div class="max-w-7xl mx-auto flex items-center justify-center h-screen">
    <div class="text-center">
        <h2 class="text-2xl text-gray-900 dark:text-white font-semibold">Seu carrinho está vazio</h2>
        <p class="text-gray-500 mt-3">Adicione produtos ao seu carrinho</p>
        <br><br>
        <a
            href="{% url 'shop' %}"
            class="w-48 bg-gray-600 hover:bg-emerald-800 text-white uppercase py-3 px-5 rounded-full text-center mt-5"
            >Ir para a loja</a
        >
    </div>
</div>

{% endif %}

{% endblock %}
