{% extends 'core/base.html' %} {% block title %}Confirmar pedido {% endblock %}
{% block content %}

<div
    class="max-w-screen-xl mx-auto p-4 xl:p-0 flex flex-col lg:flex-row items-start py-6"
>
    <!-- Resumo -->
    <div class="w-full lg:w-5/12 p-4 mb-4 lg:mb-0">
        <h1 class="uppercase text-2xl font-semibold mb-5 mt-3">
            Confirmar Pedido
        </h1>
        <div class="bg-gray-100 rounded-xl">
            <h2 class="uppercase text-lg font-semibold mb-3 text-center">
                Resumo
            </h2>
            <div class="grid grid-cols-3 gap-4">
                <div class="text-center">
                    <p class="font-semibold">Nome do Produto</p>
                </div>
                <div class="text-center">
                    <p class="font-semibold">Quantidade</p>
                </div>
                <div class="text-center">
                    <p class="font-semibold">Preço Total</p>
                </div>
                <!-- Produtos -->
                {% for item in cart %} 
                {% include 'cart/partials/checkout_cart_item.html'%} 
                {%endfor%}
                <!-- Total -->
                <div class="text-center col-span-3">
                    <p class="font-semibold">Total</p>
                </div>
                <div class="text-center col-span-3">
                    <p class="font-semibold text-xl">
                        R$ {{ cart.get_total_price }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Formulário -->
    <form
        id="confirmacao_pedido_form"
        method="post"
        action="{% url 'start_order' %}"
        hx-post="{% url 'start_order' %}"
        hx-trigger="submit"
        class="w-full lg:w-7/12 pr-4 mt-20"
    >
        {% csrf_token %}
        <!-- Seção de formulário -->
        <div class="w-full lg:w-7/12">
            <div class="bg-gray-100 rounded-xl p-4 mb-4">
                <h2 class="uppercase text-lg font-semibold mb-3">Vendedor</h2>
                <label for="vendedor_nome" class="font-semibold"
                    >Nome do Vendedor:</label
                >
                <input
                    type="text"
                    id="vendedor_nome"
                    name="vendedor_nome"
                    value="Nome do Vendedor Exemplo"
                    class="block w-full mb-2 p-2 rounded border border-gray-300"
                />
                <div class="flex">
                    <div class="w-1/2 pr-2">
                        <label for="vendedor_email" class="font-semibold"
                            >Email do Vendedor:</label
                        >
                        <input
                            type="text"
                            id="vendedor_email"
                            name="vendedor_email"
                            value="vendedor@example.com"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                    <div class="w-1/2 pl-2">
                        <label for="telefone_vendedor" class="font-semibold"
                            >Telefone do Vendedor:</label
                        >
                        <input
                            type="text"
                            id="telefone_vendedor"
                            name="telefone_vendedor"
                            value="(11) 98765-4321"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                </div>
            </div>
            <div class="bg-gray-100 rounded-xl p-4 mb-4">
                <h2 class="uppercase text-lg font-semibold mb-3">
                    Endereço de entrega
                </h2>
                <label for="address" class="font-semibold"
                    >Endereço:</label
                >
                <input
                    type="text"
                    id="address"
                    name="address"
                    value="Rua Exemplo, 123"
                    class="block w-full mb-2 p-2 rounded border border-gray-300"
                />
                <label for="cidade" class="font-semibold"
                    >Cidade:</label
                >
                <input
                    type="text"
                    id="cidade"
                    name="cidade"
                    value="São Paulo"
                    class="block w-full mb-2 p-2 rounded border border-gray-300"
                />
                
                <label for="zipcode" class="font-semibold"
                    >CEP:</label
                >
                <input
                    type="text"
                    id="zipcode"
                    name="zipcode"
                    value="05564200"
                    class="block w-full mb-2 p-2 rounded border border-gray-300"
                />
            </div>
            <div class="bg-gray-100 rounded-xl p-4 mb-4">
                <h2 class="uppercase text-lg font-semibold mb-3">
                    Horário de entrega
                </h2>
                <div class="flex">
                    <div class="w-1/2 pr-2">
                        <label for="data_entrega" class="font-semibold"
                            >Data de Entrega:</label
                        >
                        <input
                            type="text"
                            id="data_entrega"
                            name="data_entrega"
                            value="01/01/2023"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                    <div class="w-1/2 pl-2">
                        <label for="hora_entrega" class="font-semibold"
                            >Hora de Entrega:</label
                        >
                        <input
                            type="text"
                            id="hora_entrega"
                            name="hora_entrega"
                            value="15:00"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                </div>
            </div>
            <div class="bg-gray-100 rounded-xl p-4 mb-4">
                <h2 class="uppercase text-lg font-semibold mb-3">
                    Informações de contato
                </h2>
                <div class="flex">
                    <div class="w-1/2 pr-2">
                        <label for="first_name" class="font-semibold"
                            >Nome:</label
                        >
                        <input
                            type="text"
                            id="first_name"
                            name="first_name"
                            value="{{ request.user.first_name }}"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                    <div class="w-1/2 pl-2">
                        <label for="last_name" class="font-semibold"
                            >Sobrenome:</label
                        >
                        <input
                            type="text"
                            id="last_name"
                            name="last_name"
                            value="{{ request.user.last_name }}"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/2 pr-2">
                        <label for="email" class="font-semibold"
                            >Email do Cliente:</label
                        >
                        <input
                            type="text"
                            id="email"
                            name="email"
                            value="{{ request.user.email }}"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                    <div class="w-1/2 pl-2">
                        <label for="phone" class="font-semibold"
                            >Telefone do Cliente:</label
                        >
                        <input
                            type="text"
                            id="phone"
                            name="phone"
                            value="(11) 98765-4321"
                            class="block w-full mb-2 p-2 rounded border border-gray-300"
                        />
                    </div>
                </div>
            </div>
            <div class="bg-gray-100 rounded-xl p-4 mb-4">
                <h2 class="uppercase text-lg font-semibold mb-3">
                    Forma de pagamento
                </h2>
                <label for="forma_pagamento" class="font-semibold"
                    >Forma de Pagamento:</label
                >
                <input
                    type="text"
                    id="forma_pagamento"
                    name="forma_pagamento"
                    value="Cartão de Crédito"
                    class="block w-full mb-2 p-2 rounded border border-gray-300"
                />
            </div>
            <div class="flex justify-center mt-4">
                <button
                    type="submit"
                    class="bg-gray-600 hover:bg-emerald-800 text-white uppercase py-3 px-5 rounded-full text-center"
                >
                    Confirmar pedido
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
