{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}
{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6 text-center">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
    {% element h1 %}
        {% trans "Confirm Email Address" %}
    {% endelement %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            <p>
                {% blocktrans with confirmation.email_address.email as email %}Por favor, confirme que <a href="mailto:{{ email }}">{{ email }}</a> é um endereço de e-mail de {{ user_display }}.{% endblocktrans %}
            </p>
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {% element button type="submit" %}
                        {% trans 'Confirm' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% else %}
            <p>
                {% blocktrans %}Não foi possível confirmar {{ email }} pois este e-mail já está confirmado para outra conta.{% endblocktrans %}
            </p>
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        <p>
            {% blocktrans %}Este endereço de confirmação de e-mail expirou ou é inválido. Por favor <a href="{{ email_url }}"> envie uma nova solicitação de confirmação de e-mail.</a>.{% endblocktrans %}
        </p>
    {% endif %}
    </div>
</div>
{% endblock content %}
