
{% extends 'core/base.html' %}
{% block head %}
<style>
    form {
        margin-top: 1.5rem;
    }
    form p {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    label, input {
      display: inline-block;
      border-radius: 0.5rem;
    }
    form p label {
        width: 7rem;
        }
    label {
        margin: 6px 0 3px;
        border-radius: 0.5rem;
    }
    input, textarea {
        width: 100%;
        border-radius: 0.5rem;

    }
    input[type="file"], select {
        background-color: white;
        padding-left: 0;
    }
    #id_remember {
        margin-left: 0.5rem;
        width: 1rem;
    }
    span.helptext {
        margin-left: 0.5rem;
        font-size: 0.8rem;
        color: #666;
    }
    .card li {
        list-style-type: none;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        color: #666;
        padding: 0.5rem;
    }

    .card input {
        border-radius: 0.5rem;
        background-color: #d1fae5; /* Você pode ajustar a cor conforme necessário */
        border: 1px solid #34d399; /* Cor verde escuro */
        padding: 0.5rem;
    }
    

    .card input:focus {
        
        border-color: #10b981; 
        border-width: 2px; 
    }
</style>
{% endblock %}

{% block title %}{% block head_title %}
{% endblock head_title %}{% endblock %}



    {% block content %} 
    {% endblock %}

{% block scripts%}
{% endblock %}


