<div class="bg-white rounded-lg overflow-hidden shadow-md transition-transform transform hover:scale-105 hover:shadow-xl">
     <img src="{{ product.image.url }}{% comment %}src="{{ product.get_thumbnail }}{% endcomment %}" alt="{{product.name}}" class="w-full h-48 object-cover"> 
    <div class="p-4">
        
        <div class="flex justify-between mb-2 items-center">
            <div class="flex w-3/4 ">
                <a href="{% url 'product' product.slug %}" class="text-xl font-bold text-emerald-500">{{ product.name }}</a>
            </div>
            <div class="quantity flex w-1/4 justify-end justify-top space-x-4">
                <a  href="#"
                    class="text-emerald-500 hover:text-emerald-800"
                    hx-get="{% url 'update_cart' product.id 'increment' %}"
                    hx-target="#menu-cart-button"
                    hx-swap="outerHTML"
                >
                <i class="fa-solid fa-plus fa-beat-fade"></i><i class="fa-solid fa-basket-shopping fa-lg"></i>
                </a>
            </div>
        </div>
        <p class="text-lg text-gray-600">{{ product.category }}</p>
        <p class="text-lg font-bold text-gray-900">R$ {{ product.price }}</p>
        <div class="mt-4">
            <a href="{% url 'product' product.slug %}" class="text-emerald-500 hover:underline">{{ product.description }}</a>
        </div>
    </div>
</div>
