{% extends 'core/base.html' %}
{% load static %}
{% block title %} 🍁 {% endblock %}
{% block head %}


{% endblock %}

{% block content %}
<div class="header-with-background">
  <header class="relative  w-full h-1/4 py-10 px-6 lg:py-20">
    <div class="max-w-3xl mx-auto text-center">
      <p class="mb-2 text-3xl lg:text-5 text-white font-bold">Sítio Nova Esperança</p>
      <p class="mb-8 text-white">Explore nosso sítio repleto de alimentos cultivados com paixão e respeito pela natureza. Conheça um mundo de sabores autênticos e nutritivos.</p>
      
    </div>
  </header>
</div>






<div class="max-w-6xl mx-auto py-6 px-6 xl:px-0">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">

      {% for product in products %}

      {% include 'product/partials/product_list_item.html'%}

      {% endfor %}
    </div>
  </div>
  
{% endblock %}

