{% load static %}
<DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif%}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% comment %} <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

        <title>{% block title %}{% endblock %}| Sítio Nova Esperança</title>
        
        {% block head %}
        {% endblock %}

        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark')
            }
        </script>

        
    </head>

    <body class="bg-green-100 dark:bg-gray-800">
    


       <nav class="bg-white border-b border-gray-300 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
                <a href="{% url 'frontpage' %}" class="py-4 text-lg font-bold text-emerald-500 hover:text-emerald-800">Sítio Nova Esperança</a>
                <!-- Mobile menu button -->
                <div class="flex items-center justify-between order-2">
                    <div class="menu-right flex flex-wrap items-center space-x-5">
                        {% if user.is_authenticated %}
                                            <!-- Toggle Dropdown menu authenticated -->
                        <button type="button" class="py-4 text-lg font-semibold text-gray-500 hover:text-emerald-800" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                            
                        <img class="w-12 h-12 p-1 rounded-full ring-2 dark:ring-green-300 ring-gray-300" src="{{ user.profile.image.url }}" alt="Bordered avatar">

                        </button>
                                            <!-- Dropdown menu authenticated -->
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                            <div class="px-4 py-3">
                                <span class="block text-sm text-gray-900 dark:text-white">{{ request.user.first_name }}</span>
                                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ request.user.email }}</span>
                            </div>
                            <ul class="py-2" aria-labelledby="user-menu-button">
                            <li>
                            <a href="{% url 'myaccount' %}" class="block px-4 py-2 text-sm text-gray-900 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Meu Perfil</a>
                            </li>
                            <li>
                            <a href="{% url 'myorders' %}" class="block px-4 py-2 text-sm text-gray-900 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Meus pedidos</a>
                            </li>
                            <li>
                            <a href="{% url 'account_logout' %}" class="block px-4 py-2 text-sm text-gray-900 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sair</a>
                            </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if not user.is_authenticated %}
                                            <!-- Toggle Dropdown menu not authenticated -->
                        <button type="button" class="py-4 text-lg font-semibold text-gray-500 hover:text-emerald-800" id="login-menu-button" aria-expanded="false" data-dropdown-toggle="login-dropdown" data-dropdown-placement="bottom">
                            <div class="relative w-10 h-10 overflow-hidden bg-gray-200 rounded-full dark:bg-gray-600">
                                <svg class="absolute w-12 h-12 text-emerald-500 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                            </div>
                        </button>
                                            <!-- Dropdown menu not authenticated -->
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="login-dropdown">
                            <div class="px-4 py-3">
                                <span class="block text-sm text-gray-900 dark:text-white">Bem vindo!</span>
                            </div>
                            <ul class="py-2" aria-labelledby="user-menu-button">
                            <li>
                            <a href="{% url 'account_login' %}" class="block px-4 py-2 text-sm text-gray-900 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Entrar</a>
                            </li>
                            <li>
                            <a href="{% url 'account_signup' %}" class="block px-4 py-2 text-sm text-gray-900 hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cadastre-se</a>
                            </li>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="pl-10"
                            hx-get="{% url 'hx_menu_cart' %}"
                            hx-trigger="update-menu-cart from:body"
                            hx-swap="innerHTML"
                            >
                            {% include 'cart/partials/menu_cart.html' %}
                        </div>
                        <div class="order-3">
                            <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
                                <span class="sr-only">Abrir menu</span>
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                                </svg>
                            </button>
                        </div>
                    </div>


                </div>
                <!-- Navbar links -->
                <div class="items-center justify-between content-center hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li>
                        <a href="{% url 'frontpage' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
                        </li>
                        <li>
                        <a href="{% url 'shop' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Comprar</a>
                        </li>
                        <!-- Toggle darkmode button -->
                        <li>
                        </button>
                        <button id="theme-toggle" type="button" class="text-gray-900 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                            <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                            <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                        </button>
                        </li>
                    </ul>

                </div>

            </div>
            
        </nav> 
          
        <main>

            {% if messages %}
<div x-data="{ showMessage: false }" >
{% for message in messages %}
<div x-cloak class="absolute mx-auto left-0 right-0 mt-2 max-w-xl z-50 flex items-center 
            {% if message.tags == 'error' %}bg-red-500{% else %}bg-amber-300{% endif %} text-white p-3 rounded-lg" role="alert"
    x-show="showMessage" 
    x-init="setTimeout(() => showMessage = true, 200), setTimeout(() => showMessage = false, 6000)"
    x-transition:enter="duration-700 ease-out"
    x-transition:enter-start="opacity-0 -translate-y-5"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="duration-200 ease-in"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 -translate-y-5">
        <svg class="w-8 h-8 mr-2"  viewBox="0 0 512 512">
            <path d="M315.27,33,96,304H224L192.49,477.23a2.36,2.36,0,0,0,2.33,2.77h0a2.36,2.36,0,0,0,1.89-.95L416,208H288L319.66,34.75A2.45,2.45,0,0,0,317.22,32h0A2.42,2.42,0,0,0,315.27,33Z" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" fill="white"></path>
        </svg>
        <div>
            <div class="text-lg">{{ message }}</div>
        </div>
        <div class="ml-auto cursor-pointer" @click="showMessage = false">
            <svg fill="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h-8 ml-2">
                <path d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </div>
    </div> 
{% endfor %}
</div>
{% endif %}


        {% block content %}
        {% endblock %}

        </main>


        <footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
            
            <div class="mx-auto max-w-screen-xl text-center">
                <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
                    <i class="fa-solid fa-wheat-awn fa-lg pr-2" style="color: #00b75b;">  </i>
                      Sítio Nova Esperança    
                </a>
                
                <p class="my-6 text-gray-500 dark:text-gray-400">Sabor da natureza: prove nossos alimentos saudáveis cultivados localmente.</p>
                
                <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6 ">Sobre Nós</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="mr-4 hover:underline md:mr-6">Entre em contato</a>
                    </li>
                </ul>
                <p><span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">Sitio Nova Esperança™</a>. Todos os direitos reservados.</span></p>
                <p><span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Desenvolvido por: <a href="#" class="hover:underline">Alunos UNIVESP PI3-S4G14-2024</a>.</span></p>
            </div>
          </footer>


        <script>

            var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

// Change the icons inside the button based on previous settings
if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    themeToggleLightIcon.classList.remove('hidden');
} else {
    themeToggleDarkIcon.classList.remove('hidden');
}

var themeToggleBtn = document.getElementById('theme-toggle');

themeToggleBtn.addEventListener('click', function() {

    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle('hidden');
    themeToggleLightIcon.classList.toggle('hidden');

    // if set via local storage previously
    if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        } else {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        }

    // if NOT set via local storage previously
    } else {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        } else {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        }
    }
    
});
    </script>

        <script src="https://unpkg.com/htmx.org@latest"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
        {% block scripts %}        
        {% endblock %}

    </body>
        
</html>
