{% extends 'core/base.html' %}

{% block title %}Entrar {% endblock %}

{% block content %}

    <div class="max-w-lg mx-auto flex flex-wrap p-6 text-center">
        <div class="w-full bg-gray-100 p-6 rounded-xl">
            <form method="post" action="{% url 'login' %}" class="space-y-3">
                {% csrf_token %}

                <h1 class="text-2xl font-bold mb-6">Entrar</h1>
                <div>
                    <label>Usuário</label>
                    <input type="text" name="username" class="w-full mt-2 border border-gray-300 p-2 rounded-lg" placeholder="Usuário">
                </div>
                <div>    
                    <label>Senha</label>
                    <input type="password" name="password" class="w-full mt-2 border border-gray-300 p-2 rounded-lg" placeholder="Senha">
                </div>
                
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                                <p> {{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p> {{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div>
                    <button class="w-25 mt-4 bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded">Entrar</button>
                    <p class="mt-4">Não tem uma conta? <a href="{% url 'signup' %}" class="text-blue-500 hover:text-blue-700">Cadastre-se</a></p>
                    <p class="mt-4 text-gray-500">Ao se cadastrar você concorda com os <a href="#" class="text-blue-500 hover:text-blue-700">Termos de uso</a> e a <a href="#" class="text-blue-500 hover:text-blue-700">Política de privacidade</a> do site.</p>
                </div>

                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                
                </form>
        </div>
    
    </div>




  
{% endblock %}