{% extends 'core/base.html' %}

{% block title %}Minha conta {% endblock %}

{% block content %}

    <div class="max-w-7xl mx-auto p-6 ">

        <h1 class="text-xl font-semibold uppercase text-gray-900 dark:text-white">Minha conta</h1>
        <br>
        <hr>
        <br>

        <div class="text-gray-900 dark:text-white mb-6">
            <br><br>
            <strong>Nome:</strong> {{ request.user.get_full_name }}<br>
            <strong>Nome de Usuário:</strong> {{ request.user.username }}<br>
            <strong>E-mail</strong> {{ request.user.email }}<br>
            <a href="{% url 'editmyaccount' %}" class="mt-6 inline-block bg-gray-900 text-white px-3 py-2 rounded-xl bg-emerald-500 text-white hover:bg-emerald-700">Editar dados</a>
            <a href="{% url 'profile' %}" class="mt-6 inline-block bg-gray-900 text-white px-3 py-2 rounded-xl bg-emerald-500 text-white hover:bg-emerald-700">Dados complementares</a>
        </div>

     </div>


{% endblock %}