{% extends 'core/base.html' %}
{% load static %}

{% block title %}Dashboard de Commodities{% endblock %}

{% block head %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto py-6 px-6 xl:px-0">
    <div class="sm:flex sm:justify-between">
        <!-- Sidebar content -->
        <div class="sm:hidden w-full mb-6">
            <h3 class="mb-3 text-xl uppercase font-bold text-gray-900 dark:text-white">Buscar</h3>
            <form method="get" action=".">
                <div class="flex">
                    <input type="text" name="query" placeholder="Buscar" class="w-full rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" />
                    <button class="p-4 bg-gray-100 border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>

        <div class="filters sm:w-1/5 hidden sm:block">
        <div class=" mb-6 mr-6">
        <h3 class="mb-3 text-xl uppercase font-bold text-gray-900 dark:text-white">Buscar</h3>
        <form method="get" action=".">
                <div class="flex">
                <input type="text" name="query" placeholder="Buscar" class="w-full rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" />
                <button class="p-4 bg-gray-100 border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                </button>
                </div>
        </form>
        </div>
            <h3 class="my-6 text-xl uppercase font-bold text-gray-900 dark:text-white">Commodities</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'dashboard' %}" class="block p-2 {% if not active_category %}text-emerald-600 text-xl{% else %}text-gray-600{% endif %} hover:bg-emerald-500 hover:text-white transition duration-300">Todos</a></li>
                {% for ativo in ativos %}
                <li><a href="{% url 'dashboard' %}?ativo={{ ativo }}" class="block p-2 {% if ativo == active_category %}text-emerald-600 text-xl{% else %}text-gray-600{% endif %} hover:bg-emerald-500 hover:text-white transition duration-300">{{ ativo }}</a></li>
                {% endfor %}
            </ul>            
        </div>

        <!-- Products content -->
        <div class="mt-3 lg:ml-6 products sm:w-4/5">
            <div id="graficos">
                <h2 class="my-6 uppercase text-xl text-gray-900 dark:text-white">Variação de preços no ano</h2>
                {% include 'commodities/partials/graf_partials.html' %}
            </div>
            <div id="tabelas" style="max-width:800px;">
                <h2 class="my-6 uppercase text-xl text-gray-900 dark:text-white">Médias ($USD/ton)</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Ativo
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Média Último Ano
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Média Última Semana
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Média Último Trimestre
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Média Último Mês
                                </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-600">
                            {% for dados in dados_tabela %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ dados.ativo }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">${{ dados.media_ult_ano|floatformat:2 }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">${{ dados.media_ult_sem|floatformat:2 }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">${{ dados.media_ult_tri|floatformat:2 }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">${{ dados.media_ult_mes|floatformat:2 }}</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <h2 class="my-6 uppercase text-xl text-gray-900 dark:text-white">Variação (%)</h2>
                <div class="overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                        <thead class="bg-gray-50 dark:bg-gray-800">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Ativo
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Variação Ano (%)
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Variação Semana (%)
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Variação Trimestre (%)
                                </th>
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Variação Mês (%)
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-600">
                            {% for dados in dados_tabela %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ dados.ativo }}</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ dados.variacao_ano|floatformat:2 }}%</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ dados.variacao_sem|floatformat:2 }}%</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ dados.variacao_tri|floatformat:2 }}%</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ dados.variacao_mes|floatformat:2 }}%</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
